{% extends "base.html" %}
{% block content %}
    <h1> About SLIS Freedom Forums</h1>
    <article class="media content-section" >
          <div class="media-body" >
                <h2><a class="about-article-title" href="/about" >Hello Sir!</a></h2>
                <p align=center>
                    We built this project in order to give the community of UP SLIS a portal to share their thoughts and manifestations with each other.
                    Perhaps they want to let something out any though related to LIS. They can register, login, and post their tweet-like articles about anything
                    as the website neatly collects everything.

                <p align=center>In this project we have learned much about web development in Flask using Python, CSS, HTML, and basic SQL. We've used the lessons we initially learned in the LIS 161 Resources and Corey Schafer's Python Flask Tutorial.
                </p>
                <div class="article-metadata" style="float-left">
                  <a class="mr-2" href="/about">JF, Jiez, and Coral</a>
                  <small class="text-muted">June 2021</small>
                </div>
          </div>
        </article>
{% endblock content%}