{% extends 'base.html' %}

{% block content %}

<!--<head>-->
<!--    <title>Flask Intro</title>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--</head>-->

    <div class="container">
      <h1>Welcome to the SLIS Freedom Forums!</h1>
      <br>
      <!-- <p>Click <a href="/">here</a> to get started.</p> remoced it muna bec idk what this is for hehger-->
    </div>

    {% for post in posts %}
        <article class="media content-section" >
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/') + post.author.prof_pic }}" >
          <div class="media-body" >
                <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
                <div class="article-metadata" style="float-left">
                  <a class="mr-2" href="#">{{ post.author.username }}</a>
                  <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d, %H:%M:%S') }}</small>
                </div>
          </div>
        </article>
    {% endfor %}



{% endblock %}